<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Hatchpass</title>  
  <meta http-equiv="cleartype" content="on">
  
  <link rel="icon" type="image/png" href="/images/favicon.png">	
  <link rel="stylesheet" href="/stylesheets/screen.css">
  <% if mobile? %>  
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;">
    <!-- For iPhone 4 with high-resolution Retina display: -->
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/images/apple-touch-icon.png">
    <!-- For first-generation iPad: -->
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/images/apple-touch-icon.png">
    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <link rel="apple-touch-icon-precomposed" href="/images/apple-touch-icon-precomposed.png">
    <!-- For nokia devices: -->
    <link rel="shortcut icon" href="/images/apple-touch-icon.png">
  
    <!--iOS web app -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="apple-touch-startup-image" href="/images/splash.png">
    <link rel="stylesheet" href="/stylesheets/mobile.css">  
  <% end %>
</head>
<body>
  <%= erb :_settings %>
  <%= erb :_my_url %>
  <div id="header">
      <h1><a id="logo" href="/" title="">Hatchpass</a></h1>
      <nav>
        <a href="#">About</a>
      </nav>
  </div>

  <%= yield %>
  <% unless mobile? %>
    <%= erb :_help %>
  <% end %>
  <%= erb :_javascripts %>
</body>
</html>
