<section id="main">
  <nav id="nav">
    <a class="nav-button" title="My url" id="my_url" href="#my_url">My Url</a>
    <a class="nav-button" title="Settings" id="my_settings" href="#settings">Settings</a>
  </nav>
  <form method="post" action="/<%= params[:key] %>" id="hatch">
    <ul>
      <li>
        <input type="hidden" id="key" name="key" value="<%= params[:key] %>">
        <label for="key">Master</label>
        <input type="password" id="master" name="master" value="<%= params[:master] %>">
        <a class="clearinput">&times;</a>
      </li>
      <li>
        <label for="domain">Domain</label>
        <input type="url" id="domain" name="domain" value="<%= params[:domain] %>">
        <a class="clearinput">&times;</a>
      </li>
      <li>
        <label for="secret">Secret</label>
        <input type="text" id="secret" name="secret" value="<%= @secret %>">
        <a class="clearinput">&times;</a>
      </li>
    </ul>
  </form>
  <% unless mobile? %>
    <small id="tagline"><strong>Esc</strong> + <strong>h</strong> to see shortcuts</small>
  <% end %>
</section>